@import '././src/assets/utils/_vars'

.thisDay
  width: 400px
  min-width: 320px
  height: 250px
  margin-right: 50px
  background-color: $gray
  border-radius: 20px
  padding: 20px

  .wrapper
    display: flex
    justify-content: space-between

    .temp
      font-size: 96px
      font-weight: 500
      line-height: 0.7
      color: $blue
      margin-bottom: 10px

    .weekDay
      font-size: 40px
      font-weight: 400

    .currenWeatherIcon
      display: block
      width: 119px
      height: 119px

  .time,
  .currentCity
    font-size: 25px
    color: $grayFont