@import '../../assets/utils/vars'

.thisDay
  width: 350px
  min-width: 320px
  height: 250px
  margin-right: 50px
  background-color: var(#{--components-background-default})
  border-radius: 20px
  padding: 20px
  box-shadow: 10px 10px 21px var(#{--components-shadow-default})

  .wrapper
    display: flex
    justify-content: space-between

    .itemLeft
      width: 150px

      .temp
        font-size: 96px
        font-weight: 500
        line-height: 0.7
        color: $blue
        margin-bottom: 10px

      .weekDay
        font-size: 40px
        font-weight: 400

    .itemRight
      width: 130px

      .currenWeatherIcon
          display: block
          width: 130px
          height: 130px

  .time,
  .currentCity
    font-size: 25px
    color: $grayFont