@import '../../../assets/utils/vars'

.thisDayInfo
  width: 800px
  min-width: 521px
  height: 250px
  padding: 20px
  background-color: var(#{--components-background-default})
  border-radius: 20px
  position: relative
  overflow: hidden
  box-shadow: 10px 10px 21px var(#{--components-shadow-default})


  .wrapper
    display: flex
    align-items: center
    &:not(:last-child)
      margin-bottom: 19px

    .icon
      display: block
      width: 38px
      height: 38px
      padding: 5px
      margin-right: 20px
      border-radius: 50%
      background-color: $white
      box-shadow: 1px 4px 10px rgba($blue, .2)

    .title
      width: 94px
      color: $grayFont
      margin-right: 20px

  .bgImg
    display: block
    position: absolute
    top: 0
    right: 0
    z-index: 100